@import "tailwindcss";



.section-container{
    @apply px-6 md:px-12 max-w-[1440px] mx-auto 
}


@theme {
  --breakpoint-xs: 35rem;
  --breakpoint-media448: 28rem;
}

@custom-variant open-menu (.open-menu &);

